---
import { Container } from '@littlesticks/odyssey-theme-components';
---

<Container>
	<section class="py-16 sm:py-20">
				<h1 class="text-3xl font-medium tracking-tight sm:text-4xl lg:text-5xl font-lora">
					Attract & retain talent with ease.
				</h1>
				<p>
					Offering meaningful benefits is a crucial differentiator for any organization, and employees expect you to cover their expenses. Cell phones blur the line, offering connection to colleagues, spouses, friends, and bosses alike. 
					Verbind’s onboarding automation connects employee devices to global cell networks from day one. Give your team one less thing to worry about, enabling them to focus on what’s important.

				</p>
				<hr class="my-4 border-t-2 border-black w-full">
	</section>
  </Container>
